<div class="content-section" id="aboutUs">
    <h2 class="about-content-title">Khách Sạn J/S</h2>

    <div class="about-us">
        <div class="about-content">
            <p>
                Tọa lạc tại địa chỉ <span>36-38 Đ. Lâm Hoành, Phước Mỹ, Sơn Trà, Đà Nẵng</span>. Một trong những con đường sầm uất về du lịch và ẩm thực.
                Nằm trong khu các khách sạn và nhà nghỉ Đà Nẵng ven biển sầm uất nhất.
                J/S mang một dáng vẻ sang trọng, hiện đại, một nét đẹp thanh nhã,
                hài hòa khiến bất cứ du khách nào khi đến Đà Nẵng cũng đều muốn ghé thăm.
                Nằm trên trục đường chính của tuyến phố phục vụ khách xuyên đêm An Thượng.
                Khách sạn J/S Đà Nẵng sẽ đem đến cho quý khách cảm giác rộn ràng về một thành phố biển năng động.
                Ngoài ra, quý khách còn có thể tham gia nhiều lễ hội, sự kiện được tổ chức thường xuyên ở khu vực công viên biển.
                <br><br>
                Với đội ngũ nhân viên tận tâm, nhiệt tình và chuyên nghiệp.
                Luôn sẵn lòng hỗ trợ để chuyến đi của du khách càng thêm đáng nhớ.
                J/S cung cấp các dịch vụ cho thuê xe máy, mua vé và đặt tour bà nà các loại.
            </p>
        </div>

        <div class="image-one mt-80">
            <img src="~/hotel/assets/img/AboutUs/About1.jpg" alt="" class="image">
        </div>

        <div class="image-two mb-80">
            <img src="~/hotel/assets/img/AboutUs/About3.jpeg" alt="" class="image">
        </div>
    </div>

</div>