<div class="bg-room" id="contact">
    <div class="contact content-section">
        <h2 class="title-contact">Contact</h2>

        <div class="contact-content">
            <div class="img-contact">
                <img src="~/hotel/assets/img/AboutUs/About3.jpeg" alt="">
            </div>

            <div class="info-contact">
                <p><i class="ti-location-pin"></i> 36-38 Đ. Lâm Hoành, Phước Mỹ, Sơn Trà, Đà Nẵng</p>
                <p><i class="ti-mobile"></i> 0905432992</p>
                <p><i class="ti-email"></i> contact@jshotel.com</p>
            </div>
        </div>
    </div>
</div>