<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JS - Hotel</title>

    <link rel="icon" href="~/hotel/assets/img/Logo/iconlogo2.png" type="image/x-icon" />



    @*<link rel="stylesheet" href="~/hotel/assets/css/style.css">*@
    <link href="/hotel/assets/css/style.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/hotel/assets/iCon/themify-icons/themify-icons.css">

    <link rel="stylesheet" href="~/hotel/OwlCarousel2-2.3.4/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/hotel/OwlCarousel2-2.3.4/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">
</head>