<div id="slider">
    <div class="slider-items owl-carousel owl-themes">
        <div class="slider-item slider-img-one">
            <div class="slide-content">
                <div class="text-content">
                    <p class="text-content-head">Thỏa Sức Vui Chơi Không Phải Nghĩ</p>
                    <p class="text-content-body">
                        Đã bao lâu rồi bạn chưa đi du lịch cùng gia đình thân thương của mình?
                        <br>
                        Cùng nhau ngắm nhìn hoàng hôn, đắm chìm dưới làn nước xanh mát tại hồ bơi với khung cảnh nên thơ của bãi biển Mỹ Khê. <br>
                        Đây sẽ là gợi ý tuyệt vời để tận hưởng khoảng thời gian gắn kết, vun đắp hạnh phúc gia đình tại <span>J/S Hotel</span>.
                    </p>
                </div>
            </div>
        </div>

        <div class="slider-item slider-img-two">
            <div class="slide-content">
                <div class="text-content">
                    <p class="text-content-head">Vui Chơi Thả Ga Không Lo Về Giá</p>
                    <p class="text-content-body">
                        Đã bao lâu rồi bạn chưa đi du lịch cùng gia đình thân thương của mình?
                        <br>
                        Cùng nhau ngắm nhìn hoàng hôn, đắm chìm dưới làn nước xanh mát tại hồ bơi với khung cảnh nên thơ của bãi biển Mỹ Khê. <br>
                        Đây sẽ là gợi ý tuyệt vời để tận hưởng khoảng thời gian gắn kết, vun đắp hạnh phúc gia đình tại <span>J/S Hotel</span>.
                    </p>
                </div>
            </div>
        </div>

        <div class="slider-item slider-img-three">
            <div class="slide-content">
                <div class="text-content">
                    <p class="text-content-head">Tận Hưởng Kỳ Nghỉ Tuyệt Vời Bên Gia Đình</p>
                    <p class="text-content-body">
                        Đã bao lâu rồi bạn chưa đi du lịch cùng gia đình thân thương của mình?
                        <br>
                        Cùng nhau ngắm nhìn hoàng hôn, đắm chìm dưới làn nước xanh mát tại hồ bơi với khung cảnh nên thơ của bãi biển Mỹ Khê. <br>
                        Đây sẽ là gợi ý tuyệt vời để tận hưởng khoảng thời gian gắn kết, vun đắp hạnh phúc gia đình tại <span>J/S Hotel</span>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>