<div class="Utility content-section" id="tienIch">
    <h2 class="utility-title">TIỆN ÍCH</h2>

    <div class="row">

        <div class="utility-items">
            <div class="utility-content">
                <h5>Nước uống cafe hằng ngày</h5>
                <p>Miễn phí nước uống và cafe hằng ngày theo tiêu chuẩn số người trong phòng. Ngoài ra khách sạn còn có phục vụ cafe rang xay</p>
            </div>
        </div>

        <div class="utility-items">
            <div class="utility-content">
                <h5>Điện nước 24/7</h5>
                <p>Trang bị máy phát điện công suất cao. Đảm bảo luôn có điện và nước trong suốt quá trình lưu trú.</p>
            </div>
        </div>

        <div class="utility-items">
            <div class="utility-content">
                <h5>Trang thiết bị hiện đại</h5>
                <p>Smart tivi màn hình phẳng, hệ thống nước nóng năng lượng mặt trời..</p>
            </div>
        </div>

        <div class="utility-items">
            <div class="utility-content">
                <h5>Dọn phòng thay ga, ra giường hằng ngày</h5>
                <p>Đội ngũ buồng phòng nhiệt huyết luôn dọn phòng hằng ngày khi khách yêu cầu.</p>
            </div>
        </div>

        <div class="utility-items">
            <div class="utility-content">
                <h5>Internet tốc độ cao</h5>
                <p>Trang bị đường truyền leadse-line internet riêng biệt. Đảm bảo tốc độ và kết nối xuyên suốt quá trình lưu trú.</p>
            </div>
        </div>

        <div class="utility-items">
            <div class="utility-content">
                <h5>Sàn gỗ êm chân</h5>
                <p>Sàn gỗ tiêu chuẩn châu âu và dày đến 12mm . Luôn tạo cảm giác êm chân cho khách.</p>
            </div>
        </div>
    </div>

</div>
