<div id="navbar">
    <ul class="nav">
        <li>
            <a href="@Url.Action("gu_info", "Guest")">Thông tin tài khoản</a>
        </li>

        <li>
            <a href="@Url.Action("gu_list_booking", "Guest")">Danh sách đặt phòng</a>
        </li>
    </ul>

</div>
